.contacts__body {
    flex: 1 0 70%;
    padding-right: 20px;
    border-right: 2.5px solid var(--bg-color);
}

.social__body {
    flex: 1 0 30%;
    padding-left: 20px;
    border-left: 2.5px solid var(--bg-color);
}

.languages {
    margin-top: 40px;
    display: flex;
}

.other__contacts {
    display: flex;
    padding-right: 15px;
}

.other__languages {
    padding-right: 20px;
    flex: 1 0 68%;
    border-right: 2.5px solid var(--bg-color);
}

.other__courses {
    flex: 1 0 30%;
    padding-left: 20px;
    border-left: 2.5px solid var(--bg-color);
}

.contacts__list, .social__list {
    position: relative;
    padding: 15px;
    background-color: var(--bg-color);
    border-radius: 10px;
}

.contacts__item, .social__item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: blue;
    font-size: var(--text-size);
    transition: all .4s ease-in;
}

.contacts__item {
    color: black;
}

.social__item:hover {
    background-color: rgba(42, 38, 46, 0.214);
}

.social__link {
    display: flex;
    width: 100%;
    align-items: center;
    color: blue;
}

.mail, .phone, .telegram, .vk, .linkedin, .instagram {
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 7px;
    fill: blue;
}

.mail, .phone, .telegram {
    fill: black;
}

.courses__link {
    font-size: var(--text-size);
    color: blue;
}

.contacts__body:hover .section-title::after, 
.social__body:hover .section-title::after,
.other__languages:hover .section-title::after,
.other__courses:hover .section-title::after {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .other__body {
        flex-direction: column;
    }

    .other__languages, .other__courses {
        margin-top: 30px;
    }
}

@media screen and (max-width: 800px) {

    .other__contacts {
        flex-direction: column;
    }

    .social {
        flex-direction: column; 
    }

    .contacts__body {
        flex: 1 0 auto;
        padding-right: 0px;
        padding-bottom: 30px;
        border-right: none;
        border-bottom: 5px solid var(--bg-color);
    }
    
    .social__body {
        flex: 1 0 auto;
        margin-top: 40px;
        padding-left: 0px;
        border-left: none;
    }
    
    .other__languages {
        margin-top: 0;
        padding-bottom: 30px;
        border: none;
        border-bottom: 5px solid var(--bg-color);
    }
    
    .other__courses {
        flex: 1 0 30%;
        padding-left: 0px;
        border-left: none;
    }

    .languages {
        margin-top: 30px;
        flex-direction: column;
    }
}